<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Datepicker for Bootstrap</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    </head>

    <body>
  
        <div class="input-append date" id="dp1">
            <input class="span2" size="16" type="text" readonly="">
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
        <input type="hidden" name="secret" id="secret" value="SHH!">
        <input type="hidden" id="positions_date">

        <div id="positions"></div>
        
        
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        
        <div class="input-append date" id="dp2">
            <input class="span2" size="16" type="text" readonly="">
                <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
        <input type="hidden" id="transfers_date">
                
        <div id="transfers"></div>


        <script>
            function loadpositionsXML()
            {
                var req = new XMLHttpRequest()
                req.onreadystatechange = function()
                {
                    if (req.readyState == 4)
                    {
                        if (req.status != 200)
                        {
                            //error handling code here
                        }
                        else
                        {
                            var response = JSON.parse(req.responseText)
                            if (response.name != "该日没数据")
                            {
                                var out = "<table>";
                                
                                for(i = 0; i < response.results.length; i++) {
                                    out += "<tr><td>" + response.results[i].ticker + "</td><td>" + response.results[i].name + "</td><td>" + response.results[i].amount + "</td><td>" + response.results[i].cost + "</td><td>" + response.results[i].price + "</td><td>" + response.results[i].value + "</td><td>" + response.results[i].increase+ "</td><td>" + response.results[i].weight + "</td></tr>";
                                }
                                
                                out += "</table>";
                                document.getElementById('positions').innerHTML = out;
                            }
                            else
                            {
                                document.getElementById('positions').innerHTML = response.name;
                            }
                        }
                    }
                }
        
                req.open('POST', '/positions')
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                var dt = document.getElementById('positions_date').value
                var sec = document.getElementById('secret').value
                var postVars = 'date='+dt+'&secret='+sec
                req.send(postVars)
        
                return false
            }
        </script>

        <script>
            function loadtransfersXML()
            {
                var req = new XMLHttpRequest()
                req.onreadystatechange = function()
                {
                    if (req.readyState == 4)
                    {
                        if (req.status != 200)
                        {
                    //error handling code here
                        }
                        else
                        {
                            var response = JSON.parse(req.responseText)
                            if (response.name != "该日没数据")
                            {
                                var out = "<table>";
                        
                                for(i = 0; i < response.results.length; i++) {
                                    out += "<tr><td>" + response.results[i].ticker + "</td><td>" + response.results[i].name + "</td><td>" + response.results[i].direction + "</td><td>" + response.results[i].orderAmount + "</td><td>" + response.results[i].dealAmount + "</td><td>" + response.results[i].orderTime + "</td><td>" + response.results[i].dealTime + "</td><td>" + response.results[i].cost + "</td><td>" + response.results[i].status + "</td></tr>";
                                }
                        
                                out += "</table>";
                                document.getElementById('transfers').innerHTML = out;
                            }
                            else
                            {
                                document.getElementById('transfers').innerHTML = response.name;
                            }
                        }
                    }
                }
        
                req.open('POST', '/transfers')
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                var dt = document.getElementById('transfers_date').value
                var sec = document.getElementById('secret').value
                var postVars = 'date='+dt+'&secret='+sec
                req.send(postVars)
        
                return false
            }
        </script>


	    <script>
		    $(document).ready(function(){
              $('#dp1').datepicker({
                                   format: "yyyy-mm-dd"
              })
              .on('changeDate', function(ev){
                  $('#dp1').datepicker('hide');
                  $('#positions_date').val(
                      $('#dp1').datepicker('getFormattedDate')
                  );
                  return loadpositionsXML();
              });
		    });
        </script>
        
        
        
        <script>
            $(document).ready(function(){
                              $('#dp2').datepicker({
                                                   format: "yyyy-mm-dd"
                                                   })
                              .on('changeDate', function(ev){
                                  $('#dp2').datepicker('hide');
                                  $('#transfers_date').val(
                                                           $('#dp2').datepicker('getFormattedDate')
                                                           );
                                  return loadtransfersXML();
                                  });
                              });
        </script>
  </body></html>