<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Datepicker for Bootstrap</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/datepicker.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    </head>

    <body>
  
        <div class="input-append date" id="dp3">
            <input class="span2" size="16" type="text" readonly="">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <input type="hidden" name="secret" id="secret" value="shhh">
        <input type="hidden" id="hidden_input">

        <div id="myDiv"></div>
        <script>
            function loadXMLDoc()
            {
                var req = new XMLHttpRequest()
                req.onreadystatechange = function()
                {
                    if (req.readyState == 4)
                    {
                        if (req.status != 200)
                        {
                            //error handling code here
                        }
                        else
                        {
                            var response = JSON.parse(req.responseText)
                            if (response.name != '999')
                            {
                                document.getElementById('myDiv').innerHTML = response.id+","+response.ticker+","+response.name+","+response.amount+","+response.cost+","+response.price+","+response.value+","+response.increase+","+response.weight
                            }
                            else
                            {
                                document.getElementById('myDiv').innerHTML = "该日没数据"
                            }
                        }
                    }
                }
        
                req.open('POST', '/ajax')
                req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                var dt = document.getElementById('hidden_input').value
                var sec = document.getElementById('secret').value
                var postVars = 'date='+dt+'&secret='+sec
                req.send(postVars)
        
                return false
            }
        </script>

	    <script>
		    $(document).ready(function(){
              $('#dp3').datepicker({
                                   format: "yyyy-mm-dd"
              })
              .on('changeDate', function(ev){
                  $('#dp3').datepicker('hide');
                  $('#hidden_input').val(
                      $('#dp3').datepicker('getFormattedDate')
                  );
                  return loadXMLDoc();
              });
		    });
        </script>
  </body></html>